* {
  box-sizing: border-box;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
}
html,
body,
ul {
  padding: 0;
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
header {
  background-color: #fff;
}
.main-nav {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #00a9a2;
}
header ul {
  list-style: none;
}
nav ul {
  display: flex;
  flex-direction: row;
}
li a {
  padding: 10px;
}
.main-nav a {
  color: #000;
}
.main-nav a {
  text-decoration: none;
}
.main-nav a {
  text-transform: uppercase;
  font-size: 16px;
}
.main-page,
.content-page {
  max-width: 1200px;
  margin: 0 auto;
}
